.card-container-thread{
    border-color:gray;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: thin;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-container-thread-icons{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.card-container-thread-posted{
    margin-bottom: 0.75rem;
}

.card-container-thread-title-grey{
    margin-bottom: 0.75rem;
    color: rgb(137,137,137);
    font-size:large;
    font-weight: bolder;
}

#cardNumberVotes{
    padding-left: 1.2rem;
}

.side-votes-bar{
    background-color:lightgrey;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

#icons, #posted{
    font-size:smaller;
    color:gray;
}

#icons > div > i.pi{
    font-size:0.7rem
}

#icons > div > span{
    font-weight: bolder;
}

#cardNumberVotesField > div:nth-child(1) > i{
    color: orange;
}
.create-post{
    width: 45rem;
    height: 3rem;
    border-color:gray;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: thin;
    margin-top: 0.5rem;
    /*margin-bottom: 0.1rem;*/
}

.avatar-images-start{
    width:5rem;
    height:50%;
    margin-top: 0.1rem;
}

.sidebar-pointer{
    cursor: pointer;
}
